/*
============== background Color====================
*/
.stricky, #back-to-top, .progress .progress-bar, .textimonial_section:before, .textimonial_section:after,
.price-value, .price-value.two, .price-value.three, .footer_social a:hover, .btn-text {
  background: #ffce0e;
}

/*
============== Text Color====================
*/
h2 span, .btn-text:hover, a:hover, .rial_info span, .left_icon, .ser_detail i, .team_detail h3, .more_info i, .icon_conunt,
.copy_right a, .more_info a:hover {
  color: #ffce0e;
}

/*
============== Border Color====================
*/
.price-value, .price-value.two, .price-value.three, .cart1, .cart2, .cart3, .footer_social a:hover, .btn-text {
  border-color: #ffce0e;
}